<!DOCTYPE html>

    <html>
        <link rel="stylesheet" href="/static/home_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <head>
            <title>Ask Mate v1.0-Alpha</title>
        </head>
        <body>
            <div align="middle" class="table-title">
                <h1 align="middle">Question list</h1>
            </div>
            <form action="/question/new" method="GET">
                <input id="ask_new_question" type="submit" value="Ask New Question" class="button" href="/question/new">
            </form>
            <table>
                <tr>
                    {% for item in table_headers %}
                        <th class="text-left">{{ item }}</th>
                    {% endfor %}
                </tr>
                {% for row in list_of_questions %}
                    <tr>
                        {% for question in row %}
                            <td>{{ question }}</td>
                        {% endfor %}
                        <td align="middle">
                            <form action="/question/{{ row[0] }}" method="POST">
                                <input  id="view_button" name="view_button" type="image" src="/static/img/view.png" alt="Submit" width="60" value="{{ row[0] }}">
                            </form>
                        </td>
                    </tr>        
                {% endfor %}
            </table>
        </body>
    </html>