<!DOCTYPE html>

    <html>
        <head>
            <title>Ask Mate v1.0-Alpha</title>
        </head>
        <body>
            <h1>Question list</h1>
            <form action="/question/new" method="GET">
                <input id="ask_new_question" type="submit" value="Ask New Question" class="button" href="/question/new">
            </form>
            <table border="1">
                <tr>
                    {% for item in table_headers %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% for row in list_of_questions %}
                    <tr>
                        {% for question in row %}
                            <td>{{ question }}</td>
                        {% endfor %}
                    </tr>        
                {% endfor %}
            </table>
        </body>
    </html>