<!DOCTYPE HTML>

<html>
    <link rel="stylesheet" href="/static/new_form_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form-style-8">
    <head>
        <title> Question </title>
    </head>
    <body>
        <input id="home" name="home_button" type="submit" value="HOME" class="Button" href="/">
        <h1>
            <form action="/question/<question_id>" method="GET">
            <textarea style="resize:none" rows="2" cols"10">
            </textarea>
        </h1>
        <h2>
            <textarea style="resize:none" rows="5" cols"30">
            </textarea>
        </h2>
        <h3>
            <textarea style="resize:none" rows="3" cols"15">
            </textarea>
        </h3>    
    </body>
    </div>
</html>