<!DOCTYPE HTML>

<html>
    <link rel="stylesheet" href="/static/question_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form-style-8">
    <head>
        <title> Question </title>
    </head>
    <body>
        <form action="/">
            <button id="home" name="home_button" type="submit" action="/" class="button">HOME</button>
        </form>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th align="left">{{ current_question[1] }}</th>
                    </tr>
                    <tr>
                        <th align="left">{{ current_question[2] }}</th>
                    </tr>
                </thead>
            </table>
            <table class="table-fill">
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">{{ current_answers[0] }}</td>
                        <td class="text-left">{{ current_answers[1] }}</td>
                        <td class="text-left">{{ current_answers[2] }}</td>
                        <td class="text-left">{{ current_answers[3] }}</td>
                        <td class="text-left">{{ current_answers[4] }}</td>
                    </tr>
                </tbody>
            </table>
                <form action="/question/<question_id>/new-answer" method="POST">
                    <a  id="new_answer" name="new_answer" type="button" width="60" value="{{ current_question[0] }}"></a>
                </form>
            </table>
    </body>
    </div>
</html>